<footer class="max-w-7xl mx-auto px-5">
	<ul class="flex gap-6 items-center justify-center">
		<li>
			<a href="{{ path("app_index") }}" rel="noopener noreferrer" class="opacity-80 hocus:opacity-100">
				<img width="150" src="{{ asset("assets/images/logo-cbi.png")}}" alt="Logo club des belles images">
			</a>
		</li>
		<li>
			<a href="https://www.sarcelles.fr/" target="_blank" rel="noopener noreferrer" class="opacity-80 hocus:opacity-100">
				<img width="100" src="{{ asset("assets/images/logo-sarcelles.png")}}" alt="Logo de la ville de sarcelles">
			</a>
		</li>

		<li>
			<a href="https://ur17.federation-photo.fr/" target="_blank" rel="noopener noreferrer" class="opacity-80 hocus:opacity-100">
				<img width="90" src="{{ asset("assets/images/logo-ur-17.png")}}" alt="Logo de la fédération française de photographie - Union Régionale 17 - Nord-Est Ile-de-France">
			</a>
		</li>
		<li>
			<a href="https://federation-photo.fr/" target="_blank" rel="noopener noreferrer" class="opacity-80 hocus:opacity-100">
				<img width="100" src="{{ asset("assets/images/logo-fpf.jpg")}}" alt="Logo de la fédération française de photographie">
			</a>
		</li>
	</ul>
	<div class="text-center text-xs mt-3">
		<p class="font-bold">Club des Belles Images - Sarcelles</p>
		<p>Réunions tous les lundis (sauf jours fériés et vacances scolaires) à partir de 20h30 au 3, rue Parmentier 95200 SARCELLES</p>
	</div>
</footer>
