{% set menu = [
    { label: "Accueil", path: "app_index" },
    { label: "Membres", path: "dev_null" },
    { label: "Blog", path: "dev_null" },
    { label: "Compétitions FPF", path: "dev_null" },
    { label: "BIP - Le magazine du Club des Belles Images", path: "dev_null" },
    { label: "Contact", path: "dev_null" },
] %}

<header class="flex gap-4 lg:flex-row flex-col justify-center max-w-6xl mx-auto mt-4">
	<a href="{{ path("app_index") }}" rel="noopener noreferrer" class="flex justify-start lg:justify-center ml-[max(env(safe-area-inset-left),_theme(space.4))]">
		<img class="w-32" src="{{ asset("assets/images/logo-cbi.png")}}" alt="Logo club des belles images">
	</a>
	<nav class="flex justify-start items-center">
		<ul class="scrollbar-none flex lg:justify-end gap-x-2.5 overflow-x-auto">
			{% for menu_item in menu %}
				<li>
					<a class="whitespace-nowrap relative px-2 py-1 rounded-md block main-menu-item {{ app.request.get('_route') == menu_item.path ? "main-menu-active-item" : " " }} {{ loop.first ? 'ml-[max(env(safe-area-inset-left),_theme(space.4))] md:ml-0' : ''}} {{ loop.last ? 'mr-[max(env(safe-area-inset-right),_theme(space.4))] md:mr-0' : ''}}" href="{{ path(menu_item.path) }}">{{ menu_item.label }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
