{% extends 'base.html.twig' %}

{% block body %}
<h1>Bonjour {{ user.firstname }} {{ user.lastname }}</h1>

<p>Votre compte a été activé sur le site du club des Belles Images.</p>
<p>Dès maintenant, vous pouvez vous connecter avec l'adresse-mail que vous avez définie ({{ user.email}}) ou votre nom d'utilisateur ({{ user.username }}) et le mot de passe que vous avez défini lors de la création de votre compte.</p>
<p>
    <a href="{{ path("app_login") }}" target="_blank" rel="noopener noreferrer">Se connecter</a>
</p>

<img src="{{ email.image("@images/logo-cbi.jpg") }}" width="200" alt="Logo cbi">
{% endblock %}
