<!DOCTYPE html>
<html class="bg-slate-50">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title>
			{% block title %}{% endblock %}
			- Site web du club des belles images de Sarcelles</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}

			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="">
	{# <body class="mr-[max(env(safe-area-inset-right),_theme(space.4))] ml-[max(env(safe-area-inset-left),_theme(space.4))]"> #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <header class="bg-blue-950 px-3 py-2 text-white">
        <div class="max-w-7xl mx-auto">
            <p class="text-right">Bonjour
                <span class="font-bold sm:inline hidden">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                <span class="font-bold inline sm:hidden">{{ app.user.username }}</span>
             |
            <a class="underline hover:no-underline" href="{{ path("admin")}}" rel="noopener noreferrer">Accéder à l'administration</a>
            </p>
        </div>
    </header>
    {% endif %}
		{% include "includes/header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "includes/footer.html.twig" %}
	</body>
</html>
